{% extends 'base.html.twig' %}

{% block body %}

    <h2>{{ monthName }}</h2>

        <table class="month_calendar">



        {% for week in 1..numberOfWeeks%}

            <tr class="pouet">

                {% for day in days %}

                    {% if firstMonday|date('m') == firstDay|date('m') %}

                        <td class="text-center calendar_day in-month">

                            <div class="day-name"><a href="#">{{ day }}</a></div>
                            <div class="day-number">{{ firstMonday|date('d') }}</div>

                            {% set firstMonday = firstMonday|date_modify("+1 day") %}

                        </td>

                    {% else %}

                        <td class="text-center calendar_day not-in-month">

                            <div class="day-name">{{ day }}</div>
                            <div class="day-number">{{ firstMonday|date('d') }}</div>

                            {% set firstMonday = firstMonday|date_modify("+1 day") %}

                        </td>


                        {% endif %}

                {% endfor %}

            </tr>


        {% endfor %}
        </table>



{% endblock %}

{% block title %}

{% endblock %}

